.category-1 {
  fill: red
}

.category-1 {
  fill: #003f5c
}

.category-2 {
  fill: #2f4b7c
}

.category-3 {
  fill: #665191
}

.category-4 {
  fill: #a05195
}

.category-5 {
  fill: #d45087
}

.category-6 {
  fill: #f95d6a
}

.category-7 {
  fill: #ff7c43
}

.category-8 {
  fill: #ffa600
}

.category-9 {
  fill: gray
}

.category-10 {
  fill: forestgreen
}

.category-12 {
  fill: green
}

.category-13 {
  fill: greenyellow
}